body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
}

.container {
  min-height: 100vh;
  text-align: center;
  padding: 40px 20px;
}

.title {
  font-size: 42px;
  margin-bottom: 10px;
}

.active-task {
  color: #22c55e;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
  flex-wrap: wrap;
}

.input {
  padding: 12px;
  border-radius: 10px;
  border: none;
  width: 260px;
  outline: none;
}

.btn {
  padding: 10px 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: white;
}

.btn-add {
  background: #00c896;
}

.btn-ai {
  background: #6c63ff;
}

.task-list {
  list-style: none;
  padding: 0;
  max-width: 500px;
  margin: 20px auto;
}

.task-item {
  background: #1e293b;
  margin: 12px 0;
  padding: 14px 20px;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}

.task-item:hover {
  transform: scale(1.03);
}

.task-active {
  border: 2px solid #22c55e;
  background: #334155;
}

.task-text {
  margin-left: 10px;
}

.task-completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.icon-btn {
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.edit-btn {
  background: #ffc107;
}

.save-btn {
  background: #00c896;
}

.delete-btn {
  background: red;
  color: white;
}